@model Book

@{
    ViewData["Title"] = "Book Detial";
}

@functions {
    public string GetImageUrl(string fileName)
    {
        if (string.IsNullOrEmpty(fileName))
        {
            return "https://placehold.co/600x400";
        }
        else
        {
            return Url.Content("~/imgs/" + fileName);
        }
    }
}

<div class="row align-items-center mt-5">
    <div class="col-md-6">
        <img src="@GetImageUrl(Model.FileName!)" class="card-img-top" alt="placeholder image">
    </div>
    <div class="col-md-6 d-flex flex-column align-items-start">
        <h1>@Model.Name</h1>
        <ul class="list-group mt-3 w-100">
            <li class="list-group-item">Year: <strong>@Model.Year</strong></li>
            <li class="list-group-item">Author: <strong>@Model.Author</strong></li>
            <li class="list-group-item">Price: <strong>₦@Model.Price.ToString("N")</strong></li>
        </ul>
        <a class="btn btn-primary mt-3">Buy Now</a>
    </div>
</div>
<div class="mt-5">
    <p>@Model.Description</p>
</div>